.root {
    PrimaryColor: #23232f ;
    SecondaryColor: #1e1f24 ;
    AccentColor: rgb(63, 152, 252);
    AccentColor-alpha: rgba(63, 152, 252, 0.4);
	-fx-background-color: PrimaryColor;
}

.dropShadow {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.Transparent {
    -fx-background-color: Transparent;
}

.ikonli-font-icon {
    -fx-icon-color: AccentColor;
}