@import "Application.css";

.card {
    -fx-effect: null;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

.tab,
.tab .text {
    -fx-background-radius: 10;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
}

.tab:selected .label {
    -fx-text-fill: white;
}

#history-tab .ikonli-font-icon {
    -fx-icon-color: #5fe700;
}
#history-tab:selected,
#history-tab:selected .ikonli-font-icon {
    -fx-background-color: #5fe700;
    -fx-icon-color: white;
}


#upcoming-tab .ikonli-font-icon {
    -fx-icon-color: #3f98fc;
}
#upcoming-tab:selected,
#upcoming-tab:selected .ikonli-font-icon {
    -fx-background-color: #3f98fc;
    -fx-icon-color: white;
}


#favorites-tab .ikonli-font-icon {
    -fx-icon-color: #ff3966;
}
#favorites-tab:selected,
#favorites-tab:selected .ikonli-font-icon {
    -fx-background-color: #ff3966;
    -fx-icon-color: white;
}


#archive-tab .ikonli-font-icon {
    -fx-icon-color: #ffc400;
}
#archive-tab:selected,
#archive-tab:selected .ikonli-font-icon {
    -fx-background-color: #ffc400;
    -fx-icon-color: white;
}
#calendarContainer,
#calendarContainer .date-picker-popup {
    -fx-pref-width: 331.0;
    -fx-pref-height: 256.0;
    -fx-effect: null;
}

.date-picker-popup,
.date-picker-popup > .month-year-pane,
.date-picker-popup > .calendar-grid {
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .label {
    -fx-pref-width: 60;
}

.date-picker-popup > * > .spinner > .button:selected,
.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > * > .spinner > .button:focused,
.date-picker-popup > * > .spinner > .button {
    -fx-background-radius: 50%;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-background-color: AccentColor;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 0);
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: white;
}

.date-picker-popup > * > .date-cell {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 50%;
    -fx-font-size: 12;
    -fx-min-height: 40;
    -fx-min-width: 40;
    -fx-max-height: 40;
    -fx-max-width: 40;
}

.date-picker-popup > * > .today {
    -fx-background-color: AlphaAccentColor;
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected {
    -fx-background-color: AccentColor;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#calendarContainer .date-picker-popup > * > .previous-month.today,
#calendarContainer .date-picker-popup > * > .next-month.today,
#calendarContainer .date-picker-popup > * > .previous-month.today:hover,
#calendarContainer .date-picker-popup > * > .next-month.today:hover,
#calendarContainer .date-picker-popup > * > .previous-month.selected,
#calendarContainer .date-picker-popup > * > .next-month.selected,
#calendarContainer .date-picker-popup > * > .previous-month.selected:hover,
#calendarContainer .date-picker-popup > * > .next-month.selected:hover,
#calendarContainer .date-picker-popup > * > .previous-month,
#calendarContainer .date-picker-popup > * > .next-month,
#calendarContainer .date-picker-popup > * > .previous-month:hover,
#calendarContainer .date-picker-popup > * > .next-month:hover {
    -fx-opacity: 0;
}