@import "Application.css";

#NavigationBar {
	-fx-background-color: SecondaryColor;
	-fx-background-radius: 0 30 30 0;
}

#NavigationBar .toggle-button,
#NavigationBar .toggle-button .ikonli-font-icon {
    -fx-background-color : Transparent;
    -fx-background-radius : 100;
    -fx-pref-width: 50px ;
    -fx-pref-height: 50px ;
    -fx-icon-size: 30px ;
    -fx-icon-color: gray;
}

#NavigationBar .toggle-button:hover,
#NavigationBar .toggle-button:hover .ikonli-font-icon {
    -fx-background-color : AlphaAccentColor ;
    -fx-pref-width: 55px ;
    -fx-pref-height: 55px ;
    -fx-icon-size: 35px ;
    -fx-icon-color: AccentColor;
}

#NavigationBar .toggle-button:selected,
#NavigationBar .toggle-button:hover:selected,
#NavigationBar .toggle-button:selected .ikonli-font-icon {
    -fx-background-color : AccentColor;
    -fx-icon-color: #ffffff;
    
    /* Add Glow Effect to The Selected Item */
    -fx-effect: glow;
}