@import "Application.css";

#searchBar{
    -fx-border-width: 0.5px;
    -fx-border-color: lightgray;
    -fx-background-color: SecondaryColor;
}

#SearchButton {
    -fx-background-color: AccentColor;
    -fx-background-radius: 0 20 20 0;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
#SearchButton:hover,
#swapButton:hover {
    -fx-effect: glow;
}

#swapButton,
#swapButton .ikonli-font-icon {
    -fx-background-color: AccentColor;
    -fx-background-radius: 50;
    -fx-icon-color: white;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-icon-size: 25;
}

#topButton,
#topButton .ikonli-font-icon{
    -fx-background-color: AlphaAccentColor;
    -fx-background-radius: 50;
    -fx-icon-size: 25;
}

#topButton:hover {
    -fx-background-color: AccentColor;
}

.searchable-combo-box {
    -fx-border-width: 0;
}

.pagination > .page {
    -fx-padding: 20 20 40 20;
}