@import "Application.css";

.bookingWindow,
#confirmationWindow {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, -7);
}

.bookingWindow > .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}
.bookingWindow> .scroll-bar:vertical .thumb:hover {
    -fx-background-color: transparent;
}

#airPlane {
    -fx-border-radius: 50% 50% 0 0;
    -fx-background-radius: 50% 50% 0 0;
    -fx-background-color: SecondaryColor;
}

#airPlane > * {
    -fx-background-radius: 37% 37% 0 0;
    -fx-background-color: DerivedColor;
}

#seatMap .seat {
    -fx-background-radius: 30% 30% 0 0;
    -fx-border-radius: 30% 30% 0 0;
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-effect: null;
}

#seatMap .seat:hover,
#seatMap .seat:selected {
    -fx-background-color: AccentColor;
    -fx-border-color: AccentColor;
}

#seatMap .text {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#confirm,
#confirm .text {
    -fx-background-color: AccentColor;
    -fx-background-radius: 5;
    -fx-font-size: 15;
}

#cancel,
#cancel .text {
    -fx-background-color: #efefef;
    -fx-background-radius: 5;
    -fx-text-fill: gray;
    -fx-font-size: 15;
    -fx-effect: null;
}

.SeatIcon,
#seatMap .SeatIcon {
    -fx-background-radius: 30% 30% 0 0;
    -fx-border-radius: 30% 30% 0 0;
    -fx-border-width: 3;
}

.FirstSeatIcon,
#seatMap .FirstSeatIcon  {
    -fx-border-color: #ffb01e;
}

.BusinessSeatIcon,
#seatMap .BusinessSeatIcon  {
    -fx-border-color: #4fc10c;
}

.EconomySeatIcon,
#seatMap .EconomySeatIcon  {
    -fx-border-color: darkgray;
}

.SelectedSeatIcon,
#seatMap .SelectedSeatIcon {
    -fx-background-color: AccentColor;
}

.UnavailableSeatIcon,
#seatMap .UnavailableSeatIcon,
#seatMap .UnavailableSeatIcon:disabled {
    -fx-background-color: #ff3434;
    -fx-border-color: #ff3434;
    -fx-opacity: 1.0;
}